p {
  margin-bottom: 0px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
.header {
  width: 100%;
  height: 30px;
  background: linear-gradient(#d9d9d9,#808080);
  text-align: center;
}
.interactive {
  width: 100%;
  height: 90vh;
  /* margin-left: 0px ;
  margin-right: 0px ; */
}

.order {
  background: linear-gradient(to left, #e96443, #904e95);
  padding-right: 0px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to bottom right, #00F260, #0575E6);
  padding-left: 0px;
}
.menuCol1, .menuCol2 {
  height: 100%
}
.col-1 {
  padding: 0;
  width: 30%;
  display: inline-flex;
}
.right {
  height: 90px;
  width: 45px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  background-color: #cccccc;
  margin: auto 0;
  display: inline-flex;
}
.fa-angle-left, .fa-angle-right {
  margin: auto 0;
  font-size: 50px;
  float: left;
}


.col-11 {
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
  flex-direction: column;
}
.menuRow {
  height: 20%;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-basis: 20%;
}
.menuItem {
  /* flex-grow: 1; */
  flex-basis: 30%;
  /* background-color: gray; */
  margin: 2.5px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(#e6e6e6, #a6a6a6);
  border-radius: 5px;
  position: relative;
}

.button-bar {
  background: linear-gradient( to left, #e6e6e6, #a6a6a6);
  display: flex;
  position: relative;
  /* flex-wrap: nowrap; */
  flex-direction: column;
  justify-content: space-between;
}

.top-btns {
  display: flex;
  justify-content: center;
}
.bottom-btns {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.btn {
  padding: 0px;
  height: 40px;
  flex-grow: 1;
}
.wheat {
  color: warning;
  font-size: 35px;
}
.last {
  margin-right: 0;
}
.leaf {
  color: success;
  font-size: 35px;
}
.flame {
  color: danger;
  font-size: 35px;
}
.vee {
  color: info;
  font-size: 35px;
}
.full {
  margin: 10px;
}

.separate {
  width: 100%;
  height: 30px;
  background: linear-gradient(#808080, #d9d9d9);
  text-align: center;
  height: 35px; ;
}


.info{
  width: 100%;
}
.descLeft {
  background: linear-gradient(to bottom left, #4C0001, #070000, #070000)
}
.descMid {
  justify-content: center;
  background: linear-gradient(#4C0001, #070000)
}

.descRight {
  background: linear-gradient(to bottom right, #4C0001, #070000, #070000)
}
.hide {
  display: none
}
.veil {
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: .8;
  position: absolute;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
@media only screen and (max-width: 1260px) {
  .top-btns {
    flex-wrap: wrap;
  }
  .last {
    margin-right: 10px
  }
}
